{% extends "home/base.html" %}
{% block content %}
    <div class="container">
        <div class="row" >
            {% for lecture in lectures %}
                {% if forloop.first %}
                    <ol class="breadcrumb">
                        <li><a href="{% url 'classes:classes' %}">Home</a></li>
                        <li>{{ lecture.klass_name }}</li>
                    </ol>
                    <h4>{{ lecture.klass_name }}</h4>
                {% endif %}
            {% endfor %}

            <div class="list-group">
                {% for lecture in lectures %}
                    <a class="list-group-item"
                         href="{% url 'classes:lecture' lecture.klass_name lecture.lecture_id %}">
                        <p class="list-group-item-heading">
                            {{ forloop.counter }}. {{ lecture.lecture_name }}
                        </p>
                        <p class="list-group-item-text">{{ lecture.lecture_desc }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        </p>&copy; Copyright 2016 by Global STEM Learning Association Japan.</p>
    </div>
</footer>
{% endblock %}
